.burgerIngredient{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.burgerIngredient h3{
    font-family: 'JetBrains Mono';
    font-weight: 700;
    font-size: 36px;
}